<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.poke.dbservice.dao.mysql.PersonalConfrontationMapper" >

  <resultMap id="BaseResultMap" type="com.poke.common.bean.domain.mysql.PersonalConfrontation" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="room_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="end_time" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="integral_condition" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, room_id, end_time, integral_condition
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from personal_confrontation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from personal_confrontation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.poke.common.bean.domain.mysql.PersonalConfrontation" >
    insert into personal_confrontation (id, user_id, room_id, 
      end_time, integral_condition)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, 
      #{endTime,jdbcType=BIGINT}, #{integralCondition,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.poke.common.bean.domain.mysql.PersonalConfrontation" >
    insert into personal_confrontation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="integralCondition != null" >
        integral_condition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=BIGINT},
      </if>
      <if test="integralCondition != null" >
        #{integralCondition,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poke.common.bean.domain.mysql.PersonalConfrontation" >
    update personal_confrontation
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=BIGINT},
      </if>
      <if test="integralCondition != null" >
        integral_condition = #{integralCondition,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poke.common.bean.domain.mysql.PersonalConfrontation" >
    update personal_confrontation
    set user_id = #{userId,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=BIGINT},
      integral_condition = #{integralCondition,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>