<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.poke.dbservice.dao.mysql.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.poke.common.bean.domain.mysql.Room" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="entry_time" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="room_auth" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="room_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="runing_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, entry_time, room_auth, status, room_type, runing_num, total_num
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=INTEGER}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from room
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="com.poke.common.bean.domain.mysql.Room" useGeneratedKeys="true" keyProperty="id">
    insert into room (entry_time, room_auth,
      status, room_type, runing_num, 
      total_num)
    values (#{entryTime,jdbcType=BIGINT}, #{roomAuth,jdbcType=INTEGER},
      #{status,jdbcType=TINYINT}, #{roomType,jdbcType=TINYINT}, #{runingNum,jdbcType=INTEGER}, 
      #{totalNum,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.poke.common.bean.domain.mysql.Room" >
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="entryTime != null" >
        entry_time,
      </if>
      <if test="roomAuth != null" >
        room_auth,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="roomType != null" >
        room_type,
      </if>
      <if test="runingNum != null" >
        runing_num,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=BIGINT},
      </if>
      <if test="roomAuth != null" >
        #{roomAuth,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=TINYINT},
      </if>
      <if test="runingNum != null" >
        #{runingNum,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poke.common.bean.domain.mysql.Room" >
    update room
    <set >
      <if test="entryTime != null" >
        entry_time = #{entryTime,jdbcType=BIGINT},
      </if>
      <if test="roomAuth != null" >
        room_auth = #{roomAuth,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="roomType != null" >
        room_type = #{roomType,jdbcType=TINYINT},
      </if>
      <if test="runingNum != null" >
        runing_num = #{runingNum,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.poke.common.bean.domain.mysql.Room" >
    update room
    set entry_time = #{entryTime,jdbcType=BIGINT},
      room_auth = #{roomAuth,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      room_type = #{roomType,jdbcType=TINYINT},
      runing_num = #{runingNum,jdbcType=INTEGER},
      total_num = #{totalNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>