<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.poke.dbservice.dao.mysql.UserMapper">
    <resultMap id="BaseResultMap" type="com.poke.common.bean.domain.mysql.User">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="real_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="id_card" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="open_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="hash" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="relation__user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="phone_number" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="app_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="app_picture_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="type" jdbcType="TINYINT" javaType="java.lang.Byte"/>
            <arg column="friend_manage_flag" jdbcType="TINYINT" javaType="java.lang.Byte"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, real_name, id_card, open_id, hash, relation__user_id, phone_number, app_name, 
    app_picture_url, type, friend_manage_flag
    </sql>

    <select id="findByOpenidAndUserId" resultType="com.poke.common.bean.domain.mysql.User" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where open_id = #{openid,jdbcType=VARCHAR}
        and id = #{userId ,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.poke.common.bean.domain.mysql.User">
    insert into user (id, real_name, id_card, 
      open_id, hash, relation__user_id, 
      phone_number, app_name, app_picture_url, 
      type, friend_manage_flag)
    values (#{id,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{hash,jdbcType=VARCHAR}, #{relationUserId,jdbcType=INTEGER}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, #{appPictureUrl,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{friendManageFlag,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.poke.common.bean.domain.mysql.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="hash != null">
                hash,
            </if>
            <if test="relationUserId != null">
                relation__user_id,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
            <if test="appName != null">
                app_name,
            </if>
            <if test="appPictureUrl != null">
                app_picture_url,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="friendManageFlag != null">
                friend_manage_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="hash != null">
                #{hash,jdbcType=VARCHAR},
            </if>
            <if test="relationUserId != null">
                #{relationUserId,jdbcType=INTEGER},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="appName != null">
                #{appName,jdbcType=VARCHAR},
            </if>
            <if test="appPictureUrl != null">
                #{appPictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="friendManageFlag != null">
                #{friendManageFlag,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.poke.common.bean.domain.mysql.User">
        update user
        <set>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="hash != null">
                hash = #{hash,jdbcType=VARCHAR},
            </if>
            <if test="relationUserId != null">
                relation__user_id = #{relationUserId,jdbcType=INTEGER},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="appName != null">
                app_name = #{appName,jdbcType=VARCHAR},
            </if>
            <if test="appPictureUrl != null">
                app_picture_url = #{appPictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="friendManageFlag != null">
                friend_manage_flag = #{friendManageFlag,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.poke.common.bean.domain.mysql.User">
    update user
    set real_name = #{realName,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      hash = #{hash,jdbcType=VARCHAR},
      relation__user_id = #{relationUserId,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      app_picture_url = #{appPictureUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      friend_manage_flag = #{friendManageFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>