<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.poke.dbservice.dao.mysql.UserProposalsMapper" >
  <resultMap id="BaseResultMap" type="com.poke.common.bean.domain.mysql.UserProposals" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="message" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="file_urls" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, message, file_urls
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_proposals
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_proposals
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.poke.common.bean.domain.mysql.UserProposals" >
    insert into user_proposals (id, user_id, message, 
      file_urls)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, 
      #{fileUrls,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.poke.common.bean.domain.mysql.UserProposals" >
    insert into user_proposals
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="fileUrls != null" >
        file_urls,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="fileUrls != null" >
        #{fileUrls,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poke.common.bean.domain.mysql.UserProposals" >
    update user_proposals
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="fileUrls != null" >
        file_urls = #{fileUrls,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poke.common.bean.domain.mysql.UserProposals" >
    update user_proposals
    set user_id = #{userId,jdbcType=INTEGER},
      message = #{message,jdbcType=VARCHAR},
      file_urls = #{fileUrls,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>